<div class="row">
  <div class="col-md-6">
    <a routerLink="/" href="#" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back To Dashboard</a>
  </div>
  <div class="col-md-6">

  </div>
</div>

<div class="card">
  <div class="card-header">
    Add Client
  </div>
  <div class="card-body">
    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" [(ngModel)]="client.firstName" #clientFirstName="ngModel" name="firstName" minlength="2"
          required>
        <div class="alert alert-danger" *ngIf="clientFirstName.errors?.required && clientFirstName.touched">
          First name is required.
        </div>
        <div class="alert alert-danger" *ngIf="clientFirstName.errors?.minlength && clientFirstName.touched">
          Must be at least 2 characters.
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" [(ngModel)]="client.lastName" #clientLastName="ngModel" name="lastName" minlength="2"
          required>
        <div class="alert alert-danger" *ngIf="clientLastName.errors?.required && clientLastName.touched">
          Last name is required.
        </div>
        <div class="alert alert-danger" *ngIf="clientLastName.errors?.minlength && clientLastName.touched">
          Must be at least 2 characters.
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" [(ngModel)]="client.email" #clientEmail="ngModel" name="email" minlength="2" required>
        <div class="alert alert-danger" *ngIf="clientEmail.errors?.required && clientEmail.touched">
          Email is required.
        </div>
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" [(ngModel)]="client.phone" #clientPhone="ngModel" name="phone" minlength="10">
        <div class="alert alert-danger" *ngIf="clientPhone.errors?.minlength && clientPhone.touched">
          Add a valid phone number.
        </div>
      </div>

      <div class="form-group">
        <label for="balance">Balance</label>
        <input type="number" class="form-control" [(ngModel)]="client.balance" #clientBalance="ngModel" name="balance" [disabled]="disableBalanceOnAdd">
      </div>

      <input type="submit" class="btn btn-primary btn-block" value="Submit">

    </form>
  </div>
</div>
